body {
    box-sizing: border-box;
    width: 50%;
    margin: auto;
}

.hidden {
    display: none;
}

#printarea {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
    border: solid gray 5px;
    min-height: 95vh;
}

/* fix this */
/* button {
    position: absolute;
    left: 250px;
}

#form {
    position: absolute;
    top: 50px;
    left: 250px;
} */