body {
    box-sizing: border-box;
    width: 50%;
    margin: auto;
}

#form.hidden {
    display: none
}

#printarea {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
    border: solid gray 5px;
    min-height: 95vh;
    position: relative;
    justify-items: center;
}

button#delete {
    position: absolute;
    right: 150px;
}

#list {
    position: absolute;
    top: 45px;
    right: 150px;
    z-index: 1;
    display: grid;
    justify-items: start;
    list-style: none;
}

button#add {
    position: absolute;
    left: 150px;
}

#form {
    position: absolute;
    top: 45px;
    left: 150px;
    z-index: 1;
    display: grid;
    justify-items: start;
}

.red {
    background-color: red;
    text-align: center;
    user-select: none;
}

.green {
    background-color: greenyellow;
    text-align: center;
    user-select: none;
}

.bookName {
    text-align: center;
}

.bookName::before {
    content: "《";
}

.bookName::after {
    content: "》";
}

.arthur {
    text-align: center;
}

.arthur::before {
    content: 'by ';
}

.finished::before {
    content: 'done:';
}

.deleteon {
    background-color: red;
}