body {
    box-sizing: border-box;
    width: 50%;
    margin: auto;
}

#form.hidden {
    display: none
}

#printarea {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
    border: solid gray 5px;
    min-height: 95vh;
    position: relative;
}

/* fix this */
button#add {
    position: absolute;
    left: 150px;
}

#form {
    position: absolute;
    top: 45px;
    left: 150px;
    z-index: 1;
    display: grid;
    justify-items: start;
}

.red {
    background-color: red;
}

.green {
    background-color: greenyellow;
}